<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CoronaVirus Tracker - Ireland</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
</head>

<body>
<div class="container">
<h1>CoronaVirus Tracker - Ireland</h1>
<p>This application lists the total number of Covid-19 cases and deaths confirmed from Ireland</p>
<div class="jumbotron">
    <p class="lead">Total Covid-19 cases reported as of today:</p>
    <h1 class="display-4" th:text="${totalReportedCases}"></h1>
    <p class="lead">Total Covid-19 deaths reported as of today:</p>
    <h1 class="display-4" th:text="${totalReportedDeaths}"></h1>
</div>
</div>
<div class="container">
<table class="table table-hover">
    <tr>
        <th>DATE</th>
        <th>DAILY CASES</th>
        <th>DAILY DEATHS</th>
    </tr>
    <tr th:each="locationStat : ${locationStats}">
        <td th:text="${locationStat.date}">NA</td>
        <td th:text="${locationStat.confirmedCovidCases}"></td>
        <td th:text="${locationStat.confirmedCovidDeaths}">NA</td>
    </tr>
</table>
</div>
</body>

</html>